.NavBar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-decoration: none;
    background-color: white;
    position: sticky;
    z-index: 999;
    min-width: 600px;
    position: sticky;
}

.logo{
    width: 55%;
    margin-left: 5%;
    margin-top: 5%;
}

.Nav{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: sticky;
}

.Nav li{
    list-style: none;
    padding-right: 10%;
    margin-bottom: 10%;
}

.Nav li a{
    text-decoration: none;
    font-size: 100%;
    font-weight: 500;
    color: black;
}

.Nav li a:hover{
    color: lightblue;
}

