.Footer{
    background-color: white;
    width: 100%;
    color: black;
    min-width: 600px;
}
.logo{
    width: 10%;
    margin-left: 1%;
    margin-top: 1%;
}
.contact{
    padding-left: 2%;
}
.follow{
    padding-left: 2%;
}
.social{
    padding-right: 1%;
    padding-bottom: 2%;
}